@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;       
    }
}

@mixin col-index-of-num($i,$num) {
    .col-#{$i}-of-#{$num} {
        width: calc( 
            #{$i} * (100% - ((#{$num} - 1) * #{$gutter-horizontal})) / #{$num} + 
            ((#{$i} - 1) * #{$gutter-horizontal})
        );
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

// MEDIA QUERY MANAGER

/**
0 - 600px: phone
600- 900px: tab-port tablet portrait
900 - 1200: tab-land tablet landscape
[1200 - 1800]: default
1800px+: big-desktop big screen
*/
@mixin respond($breakpoint) {
    @if $breakpoint == big-desktop {
        @media (min-width: 112.25em) { @content };
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }
}