/*
 Reset
*/
*,*::after,
*::before {
    margin: 0;
    padding: 0;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is.
    font-size: 62.5%; // 1 rem = 10px; It says 1 rem = 62.5% of (1 em = 16px) = 10px
    
    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12, 12/15;
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px 9/16;
    }

    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px 8/16 = 50%;
    }
    @include respond(phone) {
        font-size: 50%; // 1 rem = 8px 6/16 = 50%;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;

    padding: 3rem;
    margin: 0px;
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0rem;
    }
}