.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    @include col-index-of-num(1,2);
    @include col-index-of-num(1,3);
    @include col-index-of-num(2,3);
    @include col-index-of-num(1,4);
    @include col-index-of-num(2,4);
    @include col-index-of-num(3,4);

    @include clearfix
    
}